NODE_ENV=production
PORT=3000
MONGODB_URI=mongodb+srv://ush-app-prod:<password>@ush-production.xxxxxx.mongodb.net/unified-smart-home-prod?retryWrites=true&w=majority
JWT_SECRET=please_change_me
ALLOWED_ORIGINS=https://app.unifiedsmarthome.com,https://staging.unifiedsmarthome.com
DATADOG_API_KEY=
LOG_LEVEL=info 